*{
    /* background-color: transparent; */
    font-style: italic;
}


QFrame, QLabel{
    background-color: #25034d;
    /* border-radius: 10px; */
}

QLabel:hover, QFrame:hover{
    background-color: #1b1816;
    color: #0df1cb;
    /* border-radius: 5px; */
    border: #a2f10d solid 1px;
    border-top-right-radius: 7px;
    /* border-top-right-radius: 5px; */
    border-bottom-left-radius: 7px;
}

QLabel{
    font-size: 20px;
    color: #eafa0a;
    background-color:transparent;
}

#lb_hora{
    font-size: 43px;
}

#lb_fecha{
    font-size: 23px;
    text-transform: uppercase;
}

QPushButton{
    border: none;
}

#menu{
    background-color: #012025;
    color: bisque;
    padding-left: 11px;
    font-size: 20px;
}

#menu::item{
    background-color: transparent;
}

#menu::separator {
    height: 2px;
    background: rgb(2, 128, 40);
    margin-left: 5px;
    margin-right: 5px;
}

#menu::item:selected { /* when user selects item using mouse or keyboard */
    color: #f9fd05;
}

QToolTip{
    border: 2px solid #ac1c02;
    background-color: #1b1816;
    padding: 7px;
    border-radius: 7px;
    /* opacity: 200; */
}
